.chatScreen_message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.chatScreen_text {
    margin-left: 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(61, 61, 61)
}

.chatScreen_timestamp {
    text-align: center;
    padding: 20px;
    color: rgb(109, 109, 109);
}

.chatScreen_textUser {
    margin-left: auto;
    background-color: #FF5349;
    padding: 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.chatScreen_input {
    display: flex;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 8vh;
}

.chatScreen_inputField {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: #1d1d1d;
    outline: none;
    color: white;
    border-radius: 50px;
}

.chatScreen_inputButton {
    border: none;
    background-color: #FF5349;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bolder;
    color: #ffffff;
}