.email-us {
    padding: 8px;
    color: #ff5349;
    align-items: center;
}

.email-words {
    padding: 2px 15px;
    padding-bottom: 10px;
    color: white;
    border-bottom: 1px solid rgb(56, 56, 56);
    align-items: center;
    font-weight: normal;
    font-size: 125%;
    font-family: sans-serif;
}
.contact-us {
    padding: 8px;
    color: #ff5349;
    align-items: center;
}
.contact-categories {
    padding: 2px 15px;
    padding-bottom: 10px;
    background-color: #121212;
    color: white;
    display: block;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(56, 56, 56);
    font-weight: normal;
    font-size: 125%;
    font-family: sans-serif;
}