/* Header */
.header_style{
  display: flex;  
  position: sticky;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  background-color: #121212;
}

.header_img {
  margin-right: auto;
}  

.header_span {
  margin-right: auto;
  background-image: linear-gradient(45deg, red, blue);
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
}

.navigate-back {
  padding: 10px; /* STATIC */
  color:rgb(61, 61, 61)
}

.navigate-back:active {
  color:#FF5349;
}

.fake-back {
  padding: 10px;
  color: transparent;
}
/* Bio-Extra about me */

.container {
    padding: 16px;
    background-color: #121212;
    color: white;
    overflow: hidden;
}
.about_me_input {
  padding-top:10px;
  padding-left: 30px;
}

input[name = "about"] {
  padding-bottom: 50px;
  border-radius: 25px;
  text-align: left;
  border: 1px solid white;
  width:100%;
  margin: 5px 0 12px 0;
  display: inline-block;
  height: 1vh;
  background: #121212;
  color: white;
}
input[name = "about"]:focus {
  text-align: left;
}
input[name = "pDetail"] {
    width:100%;
    margin: 5px 0 12px 0;
    display: inline-block;
    background: #121212;
    height: 1vh;
    padding: 10px;
    border: none;
    text-align: right;
    color: white;
}

input[name = "pDetail"]:focus {
    background-color: #121212;
    outline: none;
    color: white;
  }

.about_me_q {
  display: flex;
}

.about_me_bio {
  display: flex;
}

.personal_details {
  padding-bottom: 10px;
}

/* Buttons */

.exercise {
  width: 100px;
  height: 10vh;
}

.modal-body button {
  display: flex;
  padding: 9px 13px;
  border: none;
  border-bottom: 1px solid rgb(56, 56, 56);
  max-width: 100%;
  width: 100%;
  background-color: #121212;
  color: white;
  cursor: pointer;
}
 .modal-body button:hover {
  background-color: rgb(34, 34, 34);
 }

 .gender-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5px;
  cursor: pointer;
  background-color: #121212;
  color: white;
  border: none;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid rgb(56, 56, 56);
}

.gender-option:hover {
  background-color: rgb(34, 34, 34);
}


/* DropDown */
.radios {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #121212;
  color: white;
  justify-content: space-between;
  border: none;
  max-width: 100%;
  max-width: 100%;
  border-bottom: 1px solid rgb(56, 56, 56);
}


.details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

.details[open] {
	z-index: 1;
}

.summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

.summary::-webkit-details-marker {
	display: none;
 
}

.details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
  max-width: 100%;
}
summary:hover{
  background-color: rgb(34, 34, 34);
}

summary:after {
  content: '';
	display: inline-block;
  max-width: 100%;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(-135deg) translate(50%, 0%);
	transform-origin: center center;
	transition: ease-in-out 100ms;
}



details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}


ul {
	width: 90%;
	background:#121212 ;
  color: white;
	position: relative;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 300px;
	overflow-y: auto;
  border: solid white;
  border-width: 1px;
  list-style-type: none;
}

li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #FF5349;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
  padding: 1rem 0;
	border-bottom: 1px solid #FF5349;
}

/* FAKE SELECT */


summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}


label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

/* Look at how to re css "label" because it messes with labels at the top too */