.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.titleLogo {
    height: 90px; /* STATIC */
}

.titleIcon {
    padding: 20px; /* STATIC */
    color:rgb(61, 61, 61)
}

.titleIcon:active {
    color:#FF5349;
}