.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.titleLogo {
    height: 90px; /* STATIC */
}

.titleIcon {
    padding: 20px; /* STATIC */
}