.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderIcon {
    padding: 20px; /* STATIC */
    color:rgb(61, 61, 61)
}

.HeaderIcon:active {
    color:#FF5349;
}

.Title {
    color:#FF5349;
}