.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
}

.HeaderIcon {
    padding: 10px; /* STATIC */
    color:rgb(61, 61, 61)
}

.HeaderIcon:active {
    color:#FF5349;
}

.Title {
    color:#FF5349;
    flex: 1;
    text-align: center;
    margin-left: 50px;
}