/* Header */
.header_style{
    display: flex;  
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    background-color: #121212;
  }
  
  .header_img {
    margin-right: auto;
  }  
  
  .header_span {
    margin-right: auto;
    background-image: linear-gradient(45deg, red, blue);
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
  }
  
  .navigate-back {
    padding: 10px; /* STATIC */
    color:rgb(61, 61, 61)
  }
  
  .navigate-back:active {
    color:#FF5349;
  }
  
  .fake-back {
    padding: 10px;
    color: transparent;
  }

  /* Body */
  
/* Account Settings */

.account-settings-info {
  font-size: 80%;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  padding: 6px 0px;
}

.preferences-info {
  font-size: 80%;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  padding: 6px 0px;
}