.progress-EmailPassword {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 100%;
}
.progress-value-EmailPassword {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 50px;
    background: linear-gradient(45deg,white 5%,#FF5349 60%);
    height: 5px;
    width: 0;
}
@keyframes load {
    0% { width: 0;}
    100% {width: 28%;}
}
.myEmail {
    padding: 75px;
    padding-left: 50px;
    color: #FF5349;
    font-size: 250%;
}
.myPassword {
    padding: 75px;
    padding-left: 50px;
    color: #FF5349;
    font-size: 250%;
}
input[name = "signupEmail"] {
    padding-left: 50px;
    padding-top: 10px;
    background-color: #121212;
    color: rgb(228, 228, 228);
    border: none;
    font-size: 200%;
    font-family: sans-serif;
    border-bottom: 1px solid grey;
    width: 100%;
}
input[name = "signupEmail"]:focus {
    outline: none;
    background-color: #121212;
    color: rgb(228, 228, 228);
    font-family: sans-serif;
}
.email-info{
    color: gray;
    padding-top: 25px;
    padding-left: 50px;
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
}
input[name = "signuppassword"] {
    padding-left: 50px;
    padding-top: 10px;
    background-color: #121212;
    color: rgb(228, 228, 228);
    border: none;
    font-size: 200%;
    font-family: sans-serif;
    border-bottom: 1px solid grey;
    width: 100%;
}
input[name = "signuppassword"]:focus {
    outline: none;
    background-color: #121212;
    color: rgb(228, 228, 228);
    font-family: sans-serif;
}
.password-info{
    color: gray;
    padding-top: 25px;
    padding-left: 50px;
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
}
.continue-button-emailpassword {
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    width: 75%;
    height: 6vh;
    background-color: #FF5349;
    cursor: pointer;
    border: none;
    font-size: large;
    font-family: sans-serif;
    border-radius: 15px;
    box-shadow: 1px 3px 15px 2px rgb(0, 0, 0);
}
.continue-button-emailpassword:hover {
    background-color: #fa473d;
    transition-duration: 167ms;
}