.swipeButtons {
    position: fixed;
    bottom: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-position: center;
}


.swipeButtons_repeat {
    padding: 2vw !important;
    color: rgb(255, 255, 255) !important;
}

.swipeButtons_right {
    padding: 2vw !important;
    color: #ff5349 !important;
}
