.card {
    position: relative;
    width: 500px; /* STATIC */
    padding: 20px;
    max-width: 85vw;
    height: 56vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.card > h3 {
    position: absolute;
    bottom: 60px; /*STATIC*/
    color: white; 
}

.card > h4 {
    position: absolute;
    bottom: 40px;
    color: lightgray;
    margin-left: 25px;
}

.tinderCards_cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute;
}

.location_icon {
    position: absolute;
    bottom: 38px;
    padding: 10;
    color: #ff5349;
}