.phonenumber_info {
    display: flex;
    border-bottom: 1px solid grey;
    height: 7vh;
    font-size: 200%;
    padding-top: 5px;
    size: large;
}

.phonenumber_page{
    padding: 16px;
    background-color: #121212;
    color: #FF5249;
    overflow: hidden;
}
