/* Header */
.header_style{
  display: flex;  
  position: sticky;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  background-color: #121212;
}
.header_img {
  margin-right: auto;
}  
.header_span {
  margin-right: auto;
  color: #FF5349;
}
.navigate-back {
  padding: 10px; /* STATIC */
  color:rgb(61, 61, 61)
}
.navigate-back:active {
  color:#FF5349;
}
.fake-back {
  padding: 10px;
  color: transparent;
}

/* Body */
.open-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #121212;
  color: white;
  border: none;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid rgb(56, 56, 56);
  font-size: 1rem;
  font-family:sans-serif;
}

.open-button:hover {
  background-color: rgb(34, 34, 34);
}

/* Account Settings */
.account-settings {
  font-family: sans-serif;
}

.account-settings-info {
  font-size: 80%;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  padding: 6px 0px;
}

/* Location Settings */
.Location {
  font-family: sans-serif;
}
.location-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: #121212;
  color: white;
  border: none;
  width: 95.5%;
  max-width: 100%;
  font-size: 1rem;
  font-family:sans-serif;
}
.slider-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}
.wrapper {
  width: 400px;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 20px 25px 20px;
}
.age-range-slider {
  color: black;
  font-size: 24px;
  font-weight: 600;
}
.price-input{
  width: 100%;
  margin: 30px 0 35px;
  display: flex;
}
.price-input .field {
  height: 45px;
  width: 100%;
  align-items: center;
  display: flex;
}
/*  number boxes */
.field input {
  width: 100%;
  height: 100%;
  margin-left: 12px;
  outline: none;
  font-size: 19px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.price-input .seperator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  border-radius: 5px;
  background: grey;
}
/* Slider Bar */
.slider .progress{
  height: 5px;
  left: 25%;
  right: 25%;
  background: #FF5349;
  border-radius: 5px;
  max-width: 100%;
  position: absolute;
}
/* if u make .range-input absolute and .range-input input position relative then the circles are in the wrong place but the bar moves left and right*/
.range-input {
  position: relative;
}
/* Circles */
.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: blueviolet;
  max-width: 100%;
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background: blueviolet;
  max-width: 100%;
}


/* Preferences Settings */
.Preferences {
  font-family: sans-serif;
  font-weight: normal;
}
.preferences-info {
  font-size: 80%;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  padding: 6px 0px;
}
[title='Looking For'] { 
  color:  white; 
  margin-right: 25%;
}

/* Extra Settings */
.Extra-settings {
  font-family: sans-serif;
}
.read-receipt {
  padding: 8px 10px;
  background-color: #121212;
  color: white;
  border: none;
  max-width: 100%;
  font-size: 1rem;
  font-family:sans-serif;
  border-bottom: 1px solid rgb(56, 56, 56);
  padding-bottom: 10px;
}
.toggle {
  cursor: pointer;
}
/* Outer circle for switch */
.toggle-switch {
  display: flex;
  margin-left: 80%;
  max-width: 100%;
  background: grey;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
/* inner circle in switch */
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition:0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #FF5349;
}
/* controlls left to right switch motion*/
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}
.toggle-checkbox {
  visibility: hidden;
}
/* Legal Settings */
.Legal {
  font-family: sans-serif;
}


/* Contact Us Settings */
.Contact{
  font-family: sans-serif;
}

